a{
    margin: 30px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.t4 {
    text-align: center;
}

form, input {
    width: 20rem;
}

form input{
    margin: 10px;
}

form button{
    margin: 10px;
}

.m{
    margin: 20px;
}